<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.mapper.DishFlavorMapper">





  <!-- insertFlavor -->

  <insert id="insertFlavor" parameterType="map">
    insert into dish_flavor(dish_id,name,value)
    values
  
    <foreach collection="flavors" item="flavor" separator="," open="" close="">
      (#{id},#{flavor.name},#{flavor.value})
    </foreach>


  </insert>

  <!-- updateFlavor -->

  <select id="getFlavorsById" resultType="com.sky.entity.DishFlavor">
    select *
    from dish_flavor
    <where> dish_id=#{id}
    </where>
  </select>

  <!-- updateFlavor -->

  <update id="updateFlavor" parameterType="com.sky.entity.DishFlavor">
    <foreach collection="list" item="flavor" separator=";">
      UPDATE dish_flavor
      SET value = #{flavor.value}
      WHERE id = #{flavor.id} AND dish_id=#{flavor.dishId}
    </foreach>
  </update>


</mapper>